.spacing>*+* {
    margin-left: 15px;
}
.logo-drop {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    border-bottom-right-radius: 20px;
    z-index: 30;
    background-color: white;
}
  
.page-header__logo img {
    /* object-fit: contain; */
    height: 8rem;
    /* width: rem; */
}

#header {
    display: flex;
    position: fixed;
    padding: 10px;
    z-index: 25;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100vw;
    background-color: hsl(180, 100%, 100%);
}

.header__hamburger {
    display: flex;
    flex-direction: row-reverse;
    transition: transform 0.5s;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
}

.line-1,
.line-2,
.line-3 {
    transition: transform 1s;
    width: 70%;
    background-color: black;
    height: 5%;
    margin: auto;
    border-radius: 10px;
}

.line-1,
.line-3 {
    width: 50%;
}

.line-1 {
    margin-top: 28%;
}

.line-3 {
    margin-bottom: 28%;
}

.header__navbar-toggler .header__hamburger {
    color: black;
    z-index: 20;
}

.header__navbar {
    display: none;
    flex-direction: row;
}

.header__navbar .header__link {
    align-self: center;
    font-weight: 600;
    color: #000000;
    text-transform: capitalize;
}

.header__cta {
    font-size: 20px;
    color: #fff;
    margin: 0 0 0 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 10px 20px;
    border-radius: 0.50rem;
    border: 0.25rem solid hsl(261, 34%, 40%);
    background-color: hsl(261, 34%, 40%);
    font-weight: 600;
  }

  button {
    text-transform: capitalize !important;
  }

  button:hover {
    color: hsl(261, 34%, 40%);
  }
  button::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 10px 20px;
    display: block;
  }
  button[class^="slide"]::after {
    transition: all 0.35s;
  }
  button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }
  button.slide_from_left::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }
  button.slide_from_right::after {
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
  }

@media (min-width: 768px) {
    .header__hamburger-container {
        display: none;
    }

    #header {
        position: fixed;
    }

    .header__navbar {
        display: flex;
    }
}

@media (max-width: 768px) {
    
}


@media (max-width: 640px) {
    #header {
        padding: 20px;
    }

    .page-header__logo img {
        /* object-fit: contain; */
        height: 3rem;
        /* width: rem; */
    }
    
}