.spacery {
    margin-bottom: 7.5rem;
}

#plans {
    margin: 120px 0;
}

.section-heading {
    font-family: 'Inter', 'Bebas Neue', sans-serif;
    text-align: center;
    color: hsl(0, 0%, 0%);
    font-weight: 600;
    margin: 12px 0 60px 0;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}

#pricing-tables {
    margin-top: 40;
    display: grid;
    gap: 1rem;
}

.pricing-tables__col {
    position: relative;
    padding: 3em 1.4em;
    background-color: hsl(180, 100%, 100%);
    color: hsl(0, 0%, 0%);
    border-radius: 10px;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: -2px 6px 16px -4px hsla(0, 0%, 0%, 0.75);
    -moz-box-shadow: -2px 6px 16px -4px hsla(0, 0%, 0%, 0.75);
    box-shadow: -2px 6px 16px -4px hsla(0, 0%, 0%, 0.75);
}

.pricing-tables__col:hover {
    -webkit-box-shadow: -1px 2px 23px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 23px 4px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 23px 4px rgba(0,0,0,0.75);
}

.pricing-tables__col .pricing-tables__ribbon1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: hsl(279, 72%, 66%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 2px;
}

.pricing-tables__col .pricing-tables__ribbon1 span {
    font-weight: 600;
    color: hsl(180, 100%, 100%);
}

.pricing-tables__col:nth-child(3) {
    background-color: hsl(261, 34%, 40%);
    color: hsl(180, 100%, 100%);
}

.pricing-tables__col:nth-child(4) .pricing-tables__planStart {
    margin-bottom: 4rem;
}

.pricing-tables__col:nth-child(4) .pricing-tables__perk-items {
    margin-bottom: 2.5rem;
} 

.pricing-tables__planType {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: .4rem
}

.pricing-tables__price span {
    font-size: 30px;
    font-weight: 700;
}

.pricing-tables__perk-items {
    display: flex;
    flex-direction: row;
}

.pricing-tables__gratis {
    margin-bottom: 10px;
}

.pricing-tables__icon span {
    color: hsl(261, 34%, 40%);
}
.pricing-table__subscribe--purps {
    font-size: 20px;
    color: hsl(261, 34%, 40%);
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 10px 20px;
    border-radius: 0.50rem;
    border: 0.25rem solid #fff;
    background-color: #fff;
    font-weight: 600;
}

.pricing-tables__col:nth-child(3) button {
    text-transform: capitalize !important;
    width: 100%;
  }

.pricing-tables__col:nth-child(3)  button:hover {
    color: #ecf0f1;
  }
.pricing-tables__col:nth-child(3)  button::after {
    content: "";
    background: hsl(261, 34%, 40%);
    position: absolute;
    z-index: -1;
    padding: 10px 20px;
    display: block;
  }

.pricing-tables__col:nth-child(3)  button[class^="slide"]::after {
    transition: all 0.35s;
  }
.pricing-tables__col:nth-child(3)  button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }
.pricing-tables__col:nth-child(3)  button.slide_from_left::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }
.pricing-tables__col:nth-child(3)  button.slide_from_right::after {
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
  }

.pricing-table__subscribe {
    font-size: 20px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 10px 20px;
    border-radius: 0.50rem;
    border: 0.25rem solid hsl(261, 34%, 40%);
    background-color: hsl(261, 34%, 40%);
    font-weight: 600;
  }

  button {
    text-transform: capitalize !important;
    width: 100%;
  }

  button:hover {
    color: hsl(261, 34%, 40%);
  }
  button::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 10px 20px;
    display: block;
  }

  button[class^="slide"]::after {
    transition: all 0.35s;
  }
  button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }
  button.slide_from_left::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }
  button.slide_from_right::after {
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
  }

@media (max-width: 768px) {
    #plans {
      margin: 50px 0;
    }
    .section-heading {
        margin: 40px 0;
    }
}

@media (min-width: 40em) {
    #pricing-tables {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (min-width: 60em) {
    #pricing-tables {
        grid-template-columns: repeat(4, 1fr)
    }
}