:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* .page-headern{
  position: fixed;
  padding: 20px;
  display: flex;
  color: white;
  z-index: 10;
  justify-content: space-between;
  width: 100%;
  background: black;
}

.page-header-__nav {
  color: white;
  text-decoration: none;
  padding: 0 10px;
} */